<ion-view view-title="About" hide-back-button="true">
	<ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-ios-arrow-left" style="color:#d17c63" ng-click="onBack()">
        </button>
      </ion-nav-buttons>      
      <ion-nav-buttons side="right" >
     </ion-nav-buttons>
     <ion-content class="activity_content has_footerbar" style="padding:10px;">
		<h3 style="color:#333">Version X.X</h3>
		<div style="color:#666; font-size:1.2em; line-height:25px;">
			Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque pentatibus et magnis dis parturient montes. nascetur ridiculus mus. Donec sed odio dui. Lorem ipsum dolor sit amet. consectetur adipiscing elit.
		</div>
    </ion-content>
</ion-view>
