<ion-view view-title="Become a provider" class="explore_view"  hide-nav-bar="true">
     <ion-content class="home_content"  scroll="false">		
		<div class="bar bar-header" style="background:transparent; border-bottom:1px solid #999;">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:white">
			</button>
            <h1 class="title" style="color:white;">Become a provider</h1>
		</div>
		<br><br><br>
		<ion-slide-box show-pager="true">
			<ion-slide style="height:350px;">
				<br>
				<div style="text-align:center;width:100%">
					<img src="img/slide1.png" class="share_mark"/>
				</div>
				<br>
				<div class="sub_title">
					Get more clients!
				</div>
				<br>
				<div class="sub_title1">
					We open a new market for you and you could reach cool travellrs and individuals.
				</div>
			</ion-slide>
			<ion-slide>
				<br>
				<div style="text-align:center;width:100%">
					<img src="img/slide2.png" class="share_mark"/>
				</div>
				<br>
				<div class="sub_title">
					Peace of mind
				</div>
				<br>
				<div class="sub_title1">
					It will be safe as we will check ID and control Certifications and the payment system is secure.
				</div>
			</ion-slide>
			<ion-slide>
				<br>
				<div style="text-align:center;width:100%">
					<img src="img/slide3.png" class="share_mark"/>
				</div>
				<br>
				<div class="sub_title">
					Insurance provided
				</div>
				<br>
				<div class="sub_title1">
					Leezair can cover you as provider and your users
				</div>
			</ion-slide>
			<ion-slide>
				<br>
				<div style="text-align:center;width:100%">
					<img src="img/slide4.png" class="share_mark"/>
				</div>
				<br>
				<div class="sub_title">
					Make more money
				</div>
				<br>
				<div class="sub_title1">
					With Leezair's marketplace you could value your passion, skills, free time by sharing it with travelers as an individual.
				</div>
			</ion-slide>
		</ion-slide-box>
		<br>
		<div class="sub_title1">
			REGISTER YOUR INTEREST
		</div>
		<br>
		<label class="item item-input" style="width:80%; margin-left:10%; border-radius:5px;">
			<input type="email" placeholder="Email">
		</label>

		
		<div class="bar bar-footer" style="background:transparent !important; padding:0px;">
			  <button class="button button-full button-balanced  icon-right ion-ios-arrow-right book_footbar_btn" ng-click="goExplore()">
			  I'M INTERESTED
			</button>
		</div>
    </ion-content>

</ion-view>
