<ion-view view-title="Booking Confirmation" hide-back-button="true">
	<ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:#d17c63">
        </button>
      </ion-nav-buttons>      
      <ion-nav-buttons side="right" >
     </ion-nav-buttons>
    <ion-content class="home_content">
		<div class="list ">
			<a class="item item-thumbnail-left" href="#">
			  <img src="img/activity_image_1.jpg">
			  <h2>Activity name goes here</h2>
			  <p style="white-space:normal;">Truncated description will do right here here here here here ...  </p>
			</a>
			<div class="item" style="text-align:center;">
				<div class="row">
					<div class="col-25 finished_step icon-left ion-checkmark-round">
						<font style="font-size:0.8em;">STEP 1</font>
					</div>
					<div class="col-50 step_line"><hr></hr></div>
					<div class="col-25 finished_step icon-left ion-checkmark-round">
						<font style="font-size:0.8em;">STEP 2</font>
					</div>
				</div>
			</div>
		</div>	

		<div style="text-align:center;width:100%">
			<img src="img/check_mark.png" class="share_mark"/>
		</div>
		<br>
		<div class="sub_title">
			Thanks for booking with Leezair!
		</div>

		<div class="sub_title1">
			You will receive an email with all the important details for your booking. We'll also notify you from the app in the lead up to the activity's date so you don't forget.
		</div>
		<br>
		<div class="sub_title1">
			SHARE & GET 10% OFF NEXT TIME
		</div>
		<br>
		<div class="row" style="width:70%; margin-left:20%; text-align:center;">
			<div class="col-34">
				<div class="fb_icon_btn"><i class="icon ion-social-facebook"></i></div>
			</div>
			<div class="col-33">
				<div class="twitter_icon_btn"><i class="icon ion-social-twitter"></i></div>
			</div>
			<div class="col-33">
				<div class="email_icon_btn"><i class="icon ion-android-mail"></i></div>
			</div>
		</div>
    </ion-content>
</ion-view>
