<ion-view  view-title="Change Password" hide-nav-bar="true">
     <ion-content class="home_content"  scroll="false">
		<div class="bar bar-header" style="background:transparent; border-bottom:1px solid #999;">
            <button class="button button-clear icon ion-ios-arrow-left" ng-click="onBack()"></button>
            <h1 class="title" style="color:white;">Change Password</h1>
		</div>
        <br><br><br>
		<div style="text-align:center;width:100%">
			<img src="img/password.png" class="share_mark"/>
		</div>
		<br>
		<label class="item item-input" style="width:80%; margin-left:10%; margin-top:10px; border-radius:7px">
            <input type="password" placeholder="Type old password" />
        </label>
        
        <label class="item item-input" style="width:80%; margin-left:10%; margin-top:10px; border-radius:7px">
            <input type="password" placeholder="Type new password"/>
        </label>
        
        <br><br>
		<button class="button button-light login_btn" ng-if="send_state == 'send'" ng-click="onChangePassword()"> CHANGE PASSWORD </button>
        <button class="button button-light login_btn" ng-if="send_state == 'sending'"> <ion-spinner icon="crescent" style="color:white !important;"></ion-spinner>CHANGING PASSWORD...</button>
        <button class="button button-light login_btn icon-left ion-ios-checkmark-outline" ng-if="send_state == 'sent'"> PASSWORD CHANGED!</button>
    </ion-content>
</ion-view>
