<ion-view view-title="Company Profile"  hide-back-button="true" >
	<ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-ios-arrow-left" style="color:#d17c63" ng-click="onBack()">
        </button>
      </ion-nav-buttons>      
      <ion-nav-buttons side="right" >
     </ion-nav-buttons>
  <ion-content class="activity_content">
      <div class="list" style="padding:0px;" >
          <div class="item" style="padding:0px;">
              <div class="company_img" style="background-image:url('img/bg.png');">
				  <br><br>
                  <i class="ion-ios-briefcase-outline" style="font-size:2em; margin-top:20px !important;"></i>
                  <div style="font-size:1.5em; margin-top:10px;">Company name</div>
                  <div class="row" style="margin:0; padding:0; text-align:center; padding-top:10px !important; margin-left:30%;  width:40%;">
						  <div class="col-75">
                              <rating ng-model="rate" max="max"  readonly="true"></rating>
                          </div>
                          <div class="col-15">
                              <div style="color:white; font-size:1.2em;">{{rate}}</div>
                          </div>
					</div>
              </div>

			  <div style="padding:20px;">
				<h2 style="color:#78909c">ABOUT</h2>
				<div style="white-space:normal; margin-top:10px; color:#666;">Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div>
			  </div>
          </div>
	  </div>	  


	  <div style="width:100%; text-align:center; margin-top:10px; margin-bottom:10px; color:#666;">3 activities around me</div>
      
      <div class="list" style="padding:0px; background:#f2f2f2; padding-bottom:60px;"  ng-click="onActivityDetail($index)">
          <div class="item activity_item" ng-repeat="item in activityList">
              <div class="activity_img" style="background-image:url('{{item.image}}')">
                  <div class="price_txt">${{item.price}}</div>
                  <img src="img/Activity_heart.png" class="heart_img"/>
                  <div class="title_txt">{{item.title}}</div>
                  <div class="time_txt">{{item.time}}</div>
              </div>
              <div class="row">
                  <div class="col-60" style="text-align:left;">
                      <div style="color:#333; width:100%">{{item.city}}</div>
                      <div style="color:#999; font-size:0.8em; width:100%">{{item.distance}}</div>
                  </div>
                  <div class="col-40" style=" padding-top:10px;">
                      <div class="row" style="margin:0; padding:0; text-align:center; ">
                          <div class="col-75">
                              <rating ng-model="item.star" max="max"></rating>
                          </div>
                          <div class="col-15">
                              <div style="color:#666; font-size:1.2em;">{{item.star}}</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </ion-content>

</ion-view>
