<ion-view  view-title="Explore our activities" hide-nav-bar="true">
     <ion-content class="home_content"  scroll="false">
		<div class="bar bar-header" style="background:transparent; border-bottom:1px solid #999;">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:white">
			</button>
            <h1 class="title" style="color:white;">Explore our activities</h1>
		</div>
        <br><br><br>
		<div style="text-align:center;width:100%">
			<img src="img/logo_mark.png" class="share_mark"/>
		</div>
		<br>
		<div class="sub_title">
			What not checkout our awesome activities?
		</div>
		<br><br><br>
		<button class="button facebook_btn button-custom-green" ng-click="goActivities()">START EXPLORING</button>

    </ion-content>
</ion-view>
