<ion-view>
    
  <ion-content class="home_content" scroll="false">
      <div class="bar bar-header" style="background:transparent; border-bottom:1px solid #999;	">
          <button class="button button-clear icon ion-ios-arrow-left"></button>
          <h1 class="title" style="color:white;">Join us</h1>
      </div>
      
      <img src="img/Logo_loading_screen.png" class="h_logo_img" />
      
      <button class="button facebook_btn button-positive icon-left ion-social-facebook"> CONNECT WITH FACEBOOK</button>
      <button class="button facebook_btn button-assertive icon-left ion-social-google"> CONNECT WITH GOOGLE</button>
      <br><br><br>
      <button class="button signup_btn button-clear" ng-click="onClickSignup()">SIGNUP WITH EMAIL</button>
      <button class="button signup_btn button-clear" ng-click="onClickSignin()">LOGIN WITH EMAIL</button>
      
      <div class="bar bar-footer" style="background:transparent; height:60px;">
          <div style="width:100%; text-align:center; color:white">
                By signing up, I agree to Leezair's <br>
                <font style="border-bottom:1px solid white;">Terms & Conditions</font> and <font style="border-bottom:1px solid white;">Privacy Policy.</font>
          </div>
      </div>
  </ion-content>
</ion-view>
