<ion-view  hide-nav-bar="true" class="explore_view">

     <ion-content class="home_content" scroll="false">
		<div class="bar bar-header" style="background:transparent; border-bottom:1px solid #999;">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:white">
			</button>
            <h1 class="title" style="color:white;">Invite Your Friends</h1>
		 </div>

        <br><br><br>
		<div style="text-align:center;width:100%">
			<img src="img/invite_friends_mark.png" class="share_mark"/>
		</div>
		<br>
		<div class="sub_title">
			Share your code to get discounts!
		</div>
		<br>
		<div class="sub_title1">
			Get 10% off your next booking for each person you refer.
		</div>
		<br>
		<div class="row" style="width:80%; margin-left:10%; text-align:center;">
			<div class="col-25">
				<div class="fb_icon_btn"><i class="icon ion-social-facebook"></i></div>
			</div>
			<div class="col-25">
				<div class="google_icon_btn"><i class="icon ion-social-googleplus"></i></div>
			</div>
			<div class="col-25">
				<div class="twitter_icon_btn"><i class="icon ion-social-twitter"></i></div>
			</div>
			<div class="col-25">
				<div class="email_icon_btn"><i class="icon ion-android-mail"></i></div>
			</div>
		</div>
		<br><br>
		<div class="sub_title1">
			OR SHARE THIS LINK
		</div>
		<br>
		<button class="button" style="width:80%; margin-left:10%;">www.leezair.com.au/username</button>

    </ion-content>
</ion-view>
