<ion-view  view-title="My Profile" hide-nav-bar="true">
     <ion-content class="home_content"  scroll="false">
		<div class="bar bar-header" style="background:#344451; border-bottom:1px solid #999;">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:white">
			</button>
            <h1 class="title" style="color:white;">My Profile</h1>
			<button class="button button-icon button-clear" style="color:white; font-size:1em;" ng-click="goEditProfile()">EDIT
			</button>
		</div>
        <br><br><br><br>
		<div class="sub_title">
			Elena
		</div>
		<br>
		<div class="sub_title">
			<img src="img/user_profile1.png" style="width:120px; height:120px; background:white; padding:1px; border-radius:50%;"/>
		</div>
		<br>
		<div class="sub_title1">
			ABOUT ME
		</div>
		<br>
		<div class="sub_title1">
			Donec id elit non mi porta gravida at eget metus.<br> Morbi leo risus, porta ac consectetur ac,<br>vestibulum at eros.
		</div>
    </ion-content>
</ion-view>
