<ion-view>
     <ion-content class="home_content" scroll="false" style="padding-top:65px;">
        <div class="bar bar-header" style="background:transparent; border-bottom:1px solid #999;	">
            <button class="button button-clear icon ion-ios-arrow-left" ng-click="onBack()"></button>
            <h1 class="title" style="color:white;">Reset Password</h1>
        </div>
        
        <div style="width:80%; margin-left:10%; margin-top:20px; color:white; font-size:0.9em; text-align:center" ng-if="send_state != 'sent'">
            Please enter your email address and we'll send you an email to reset your password.
        </div>
        <div style="width:80%; margin-left:10%; margin-top:20px; color:white;  font-size:0.9em; text-align:center" ng-if="send_state == 'sent'">
            A link to reset your password has been sent to {{user.email}}
        </div>
        <br>
        <label class="item item-input" style="width:80%; margin-left:10%; margin-top:10px; border-radius:7px">
            <input type="text" placeholder="Email" ng-model="user.email"/>
        </label>
        
        <br><br>
        <button class="button button-light login_btn" ng-if="send_state == 'send'" ng-click="onSendEmail()"> SEND EMAIL </button>
        <button class="button button-light login_btn" ng-if="send_state == 'sending'"> <ion-spinner icon="crescent" style="color:white !important;"></ion-spinner>SENDING...</button>
        <button class="button button-light login_btn icon-left ion-ios-checkmark-outline" ng-if="send_state == 'sent'" ng-click="onSignin()"> SENT!</button>
    </ion-content>
</ion-view>
