<ion-view view-title="Settings"  hide-back-button="true">
      <ion-nav-buttons side="left" >
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:#d17c63">
        </button>
      </ion-nav-buttons>
      
      <ion-nav-buttons side="right" >
          <button class="button button-clear " style="color:#d17c63; font-size:1em;">
			LOGOUT
          </button>
      </ion-nav-buttons>
  <ion-content scroll="false">
      <div class="list" style="color:#333">
		<a class="item item-icon-right" href="#/app/change_password">
			Change Password
			<i class="icon ion-ios-arrow-right"></i>
        </a>
		<a class="item item-icon-right" href="#">
			Push Notifications
			<i class="icon ion-ios-checkmark-outline" style="color:#5cc1af;"></i>
        </a>
		<a class="item" href="#">			
			<div class="row" style="padding:0px">
				<div class="col-80">Language</div>
				<div class="col-10" style="font-size:1em; color:#999"><i class="icon ion-ios-locked-outline"></i></div>
				<div class="col-10" style="font-size:0.8em; color:#999">English</div>
			</div>
        </a>
		<a class="item" href="#">
			<div class="row" style="padding:0px">
				<div class="col-80">Currency</div>
				<div class="col-10" style="font-size:1em; color:#999"><i class="icon ion-ios-locked-outline"></i></div>
				<div class="col-10" style="font-size:0.8em; color:#999">AUD</div>
			</div>
        </a>
		<a class="item item-icon-right" href="#/app/terms">
			T&C's and Privacy Policy
			<i class="icon ion-ios-arrow-right"></i>
        </a>
		<a class="item item-icon-right" href="#/app/about">
			About
			<i class="icon ion-ios-arrow-right"></i>
        </a>
	  </div>
      
  </ion-content>

</ion-view>
