<ion-view>
     <ion-content class="home_content" scroll="false" style="padding-top:65px;">
        <div class="bar bar-header" style="background:transparent; border-bottom:1px solid #999;	">
            <button class="button button-clear icon ion-ios-arrow-left" ng-click="onBack()"></button>
            <h1 class="title" style="color:white;">Share your Activity</h1>
        </div>
        
		<div style="text-align:center;width:100%">
			<img src="img/share_mark.png" class="share_mark"/>
		</div>
		<br>
		<button class="button facebook_btn button-positive icon-left ion-social-facebook">SHARE ON FACEBOOK</button>
        <button class="button facebook_btn button-calm icon-left ion-social-twitter">SHARE ON TWITTER</button>
		<button class="button facebook_btn button-stable icon-left ion-ios-email">SHARE VIA EMAIL</button>
		<button class="button facebook_btn button-stable icon-left ion-ios-pricetag-outline">COPY LINK</button>

    </ion-content>
</ion-view>
